@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F5F5F7;
    font-family: 'Inter';
    color: #1D1D1F;
    font-weight: 500;
}
